@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-indigo-50;
}

/* width */
.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-scroll::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

.custom-scroll::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}
